<nav id="nav-container">
  <a id="logo" href="/">Team UNO</a>
  <li class="dropdown">
    <div id="nav-profile-pic"></div>
    <ul id="profile-dropdown" class="dropdown-menu">
      {{#if loggedIn}}
      <li>
        <a href="#" class="menu-item">Profile</a>
      </li>
      <li>
        <a href="/settings" class="menu-item">Settings</a>
      </li>
      <li>
        <button id="logout" class="menu-item">Logout</button>
      </li>
      {{else}}
      <li>
        <a href="/login" class="menu-item">
          Login
        </a>
      </li>
      <li>
        <a href="/register" class="menu-item">
          Register
        </a>
      </li>
      {{/if}}
    </ul>
  </li>
  <script src="/js/partials/navbar.js" type="module"></script>
</nav>