<nav id="nav-container">
  <img 
    id="logo"
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/UNO_Logo.svg/1280px-UNO_Logo.svg.png"
  >
  <ul id="nav-links">
    <li>
      <a href="/" class="nav-link">Home</a>
    </li>
    <li>
      <a href="/find-lobby" class="nav-link">Lobbies</a>
    </li>
    <li>
      <a href="/leaderboard" class="nav-link">Leaderboard</a>
    </li>
  </ul>
  <input id="search-user" type="text" placeholder="Search Users">
  <li id="dropdown">
    <div id="nav-profile-pic"></div>
    <ul id="profile-dropdown" class="dropdown-menu">
      {{#if authenticated}}
      <li>
        {{#if user}}
        <a href="/{{user.username}}" class="menu-item">Profile</a>
        {{else}}
        <a href="#" class="menu-item">Profile</a>
        {{/if}}
      </li>
      <li>
        <a href="/settings" class="menu-item">Settings</a>
      </li>
      <li>
        <button id="logout" class="menu-item">Logout</button>
      </li>
      {{else}}
      <li>
        <a href="/login" class="menu-item">
          Login
        </a>
      </li>
      <li>
        <a href="/register" class="menu-item">
          Register
        </a>
      </li>
      {{/if}}
    </ul>
  </li>
  <script src="/js/partials/navbar.js" type="module"></script>
</nav>