<nav id="nav-container">
  <img 
    id="logo"
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/UNO_Logo.svg/1280px-UNO_Logo.svg.png"
  >
  <ul id="nav-links">
    <li>
      <a href="/" class="nav-link">Home</a>
    </li>
    <li>
      <a href="/find-lobby" class="nav-link">Lobbies</a>
    </li>
    <li>
      <a href="/leaderboard" class="nav-link">Leaderboard</a>
    </li>
  </ul>
  <form id="search-form">
    <input id="search-input" type="text" placeholder="Search Users">
    <input id="hidden-search-submit" type="submit">
  </form>
  {{#if user}}
  <a href="/notifications" class="nav-icon" id="nav-notifications">
    <img src="/images/notifications.png">
  </a>
  <div>
    <div class="nav-icon" id="nav-profile-pic">
      {{#if user.pictureUrl}}
      <img src="{{user.pictureUrl}}">
      {{else}}
      <img src="/images/default-profile-pic.png">
      {{/if}}
    </div>
    <ul id="profile-dropdown" class="dropdown-menu">
      <li>
        <a href="/api/users/me" class="menu-item">Profile</a>
      </li>
      <li>
        <a href="/settings" class="menu-item">Settings</a>
      </li>
      <li>
        <a href="#" id="logout" class="menu-item">Logout</a>
      </li>
    </ul>
  </div>
  {{else}}
  <ul id="unauthenticated-links">
    <li>
      <a href="/login" class="nav-link">Login</a>
    </li>
    <li>
      <a href="/register" class="nav-link">Sign Up</a>
    </li>
  </ul>
  {{/if}}
  <script defer src="/js/partials/navbar.js" type="module"></script>
</nav>