<nav id="nav-container">
  <a id="logo" href="/">Team UNO</a>
  <li class="dropdown">
    <div id="nav-profile-pic"></div>
    <ul id="profile-dropdown" class="dropdown-menu">
      <li>
        <a href="/login" class="menu-item">
          Login
        </a>
      </li>
      <li>
        <a href="/register" class="menu-item">
          Register
        </a>
      </li>
      <li>
        <a href="/profile" class="menu-item">
          Profile
        </a>
      </li>
      <li>
        <a href="/user-settings" class="menu-item">
          User Settings
        </a>
      </li>
    </ul>
  </li>
  <script>
    document.getElementById("nav-profile-pic").addEventListener("click", (event) => {
      const element = document.querySelector("#profile-dropdown");
      const removeClickListener = () => {
        document.removeEventListener("click", outsideClickListener);
      }
      const outsideClickListener = (e) => {
        if (!element.contains(e.target) && element.classList.contains("dropdown-menu-visible")) {
          element.setAttribute("class", "dropdown-menu");
          removeClickListener();
        }
      }
      
      event.stopPropagation();
      document.addEventListener("click", outsideClickListener);
      element.setAttribute("class", "dropdown-menu-visible");
    });
  </script>
</nav>