<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/views/create-lobby.css" />
    <link rel="stylesheet" type="text/css" href="/css/partials/navbar.css" />
    <title>{{title}}</title>
  </head>
  <body>
    {{> navbar}}
    <form id="createLobbyForm">
      <main>
        <h2>Create Lobby</h2>
        <input type="text" placeholder="Lobby Name" id="lobby-name-input" name="lobbyName" required>
        <input type="range" min="2" max="10" value="1" id="num-players-slider" oninput="this.nextElementSibling.value = this.value" name="maxPlayers">
        <output id="num-players-output" class="num-players-output">2</output>
        <div id="private-container" class="private-container">
          <div>
            <input type="checkbox" id="private-checkbox">
            <label for="private-checkbox">Private</label>
          </div>
        </div>
        <button id="create-lobby-button" type="Submit">Create</button>
      </main>
    </form>
  </body>
  <script src="/js/views/create-lobby.js" type="module"></script>
</html>
