<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/views/create-lobby.css" />
    <link rel="stylesheet" type="text/css" href="/css/partials/navbar.css" />
    <title>{{title}}</title>
  </head>
  <body>
    {{> navbar}}
    <main>
      <form id="create-lobby-form">
        <header>
          <h2>Create Lobby</h2>
        </header>
        <section id="lobby-name">
          <input 
            type="text"
            placeholder="Lobby Name"
            id="lobby-name-input"
            name="lobbyName"
            aria-describedby="name-error"
            required>
          <p class="error-message hidden" id="name-error"></p>
        </section>
        <section id="lobby-password">
          <input 
            type="text"
            placeholder="Password (Optional)"
            id="lobby-password-input"
            name="password"
            >
          <p class="error-message hidden" id="password-error"></p>
        </section>
        <section id="player-capacity">
          <label for="maxPlayers">Maximum Players</label>
          <div>
            <input type="range" min="2" max="10" value="1" id="maxPlayers" oninput="this.nextElementSibling.value = this.value" name="maxPlayers">
            <output id="num-players-output">2</output>
          </div>
        </section>
        <button id="create-lobby-button" type="Submit">Create</button>
      </form>
    </main>
  </body>
  <script src="/js/views/create-lobby.js" type="module"></script>
</html>
