<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/views/find-lobby.css" />
    <link rel="stylesheet" type="text/css" href="/css/partials/navbar.css" />
    <title>{{title}}</title>
  </head>
  <body>
    {{> navbar}}
    <main>
        <div class="search-container">
          <input type="text" placeholder="Search" id="lobby-search-input" name="lobby-search" required>
          <button type="submit">Search</button>
          <button type="button">Refresh</button>
        </div>
        <div class="header-container">
          <div class="lobby-name-header">Lobby Name</div>
          <div class="player-count-header">Players</div>
        </div>
        <div class="lobby-list-container">
          <div class="lobby-container">
            <div class="lobby-name">Lobby 1</div>
            <div class="player-count">1/10</div>
          </div>
          <div class="lobby-container">
            <div class="lobby-name">Lobby 2</div>
            <div class="player-count">2/10</div>
          </div>
          <div class="lobby-container">
            <div class="lobby-name">Lobby 3</div>
            <div class="player-count">3/10</div>
          </div>
          <div class="lobby-container">
            <div class="lobby-name">Lobby 4</div>
            <div class="player-count">7/10</div>
          </div>
          <div class="lobby-container">
            <div class="lobby-name">Lobby 5</div>
            <div class="player-count">10/10</div>
          </div>
          <div class="lobby-container">
            <div class="lobby-name">Lobby 6</div>
            <div class="player-count">5/10</div>
          </div>
          <div class="lobby-container">
            <div class="lobby-name">Lobby 7</div>
            <div class="player-count">9/10</div>
          </div>
          <div class="lobby-container">
            <div class="lobby-name">Lobby 8</div>
            <div class="player-count">7/10</div>
          </div>
          <div class="lobby-container">
            <div class="lobby-name">Lobby 9</div>
            <div class="player-count">5/10</div>
          </div>
          <div class="lobby-container">
            <div class="lobby-name">Lobby 10</div>
            <div class="player-count">1/10</div>
          </div>
          <div class="lobby-container">
            <div class="lobby-name">Lobby 11</div>
            <div class="player-count">1/10</div>
          </div>
          <div class="lobby-container">
            <div class="lobby-name">Lobby 12</div>
            <div class="player-count">1/10</div>
          </div>
          <div class="lobby-container">
            <div class="lobby-name">Lobby 13</div>
            <div class="player-count">1/10</div>
          </div>
          <div class="lobby-container">
            <div class="lobby-name">Lobby 14</div>
            <div class="player-count">1/10</div>
          </div>
          <div class="lobby-container">
            <div class="lobby-name">Lobby 15</div>
            <div class="player-count">1/10</div>
          </div>
          <div class="lobby-container">
            <div class="lobby-name">Lobby 16</div>
            <div class="player-count">1/10</div>
          </div>
          <div class="lobby-container">
            <div class="lobby-name">Lobby 17</div>
            <div class="player-count">1/10</div>
          </div>
          <div class="lobby-container">
            <div class="lobby-name">Lobby 18</div>
            <div class="player-count">1/10</div>
          </div>
          <div class="lobby-container">
            <div class="lobby-name">Lobby 19</div>
            <div class="player-count">1/10</div>
          </div>
          <div class="lobby-container">
            <div class="lobby-name">Lobby 20</div>
            <div class="player-count">1/10</div>
          </div>  
        </div>
    </main>
  </body>
</html>