<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/views/find-lobby.css" />
    <link rel="stylesheet" type="text/css" href="/css/partials/navbar.css" />
    <script defer src="/js/views/find-lobby.js" type="module"></script>
    <title>{{title}}</title>
  </head>
  <body id="body">
    {{> navbar}}
    <main>
      <div class="search-container">
        <form id="searchLobbiesForm">
          <input id="lobby-search-input" type="text" placeholder="Search" id="lobby-search-input" name="lobby-search">
          <button id="search" type="submit">Search</button>
        </form>
        <button id="refresh" type="button">Refresh</button>
      </div>
      <div class="header-container">
        <div class="lobby-name-header">Lobby Name</div>
        <div>Host</div>
        <div>Type</div>
        <div class="player-count-header">Players</div>
      </div>
      <div class="lobby-list-container" id="lobbyListContainer">
      </div>
      <div id="joinPrivateLobbyModal">
        <form id="joinPrivateLobbyForm">
          <div id="formContent">
            <span id="closeModal" class="closeModal">&times;</span>
            <div>
              <input id="password" name="password" type="password" placeholder="Password" required>
              <button id="submit" type="submit">Enter</button>
            </div>
          </div>
        </form>
      </div>
    </main>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>