<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/views/find-lobby.css" />
    <link rel="stylesheet" type="text/css" href="/css/partials/navbar.css" />
    <script defer src="/js/views/find-lobby.js" type="module"></script>
    <title>{{title}}</title>
  </head>
  <body id="body">
    {{> navbar}}
    <main>
      <header>
        <h2>
          Find Lobbies
        </h2>
      </header>
      <div class="search-container">
        <form id="search-lobbies-form">
          <input id="lobby-search-input" type="text" placeholder="Search Lobbies" class="lobby-search-input" name="lobby-search">
        </form>
        <button id="refresh" class="refresh-button" type="button">Refresh</button>
        <a href="/create-lobby" class="create-lobby">Create Lobby</a>
      </div>
      <div class="table-container">
        <table>
          <thead>
            <tr class="table-header">
              <th class="lobby-name-header">Lobby Name</th>
              <th class="host-header">Host</th>
              <th class="type-header">Type</th>
              <th class="players-header">Players</th>
              <th class="join-header"></th>
            </tr>
          </thead>
          <tbody id="lobby-list-container">
          </tbody>
        </table>
      </div>
      <div id="join-private-lobby-modal" class="modal">
        <div class="modal-content">
          <form id="join-private-lobby-form">
            <div id="join-private-lobby-form-content">
              <span id="join-private-modal-close" class="close-modal">&times;</span>
              <p id="form-lobby-name" class="modal-lobby-name"></p>
              <p id="lobby-password-error" class="error-message"></p>
              <input id="password" class= "lobby-password" name="password" type="password" placeholder="Enter Lobby Password" required>
            </div>
          </form>
        </div>
      </div>
      <div id="lobby-full-modal" class="modal">
        <div class="modal-content">
          <span id="lobby-full-modal-close" class="close-modal">&times;</span>
          <p class="lobby-full-message">The lobby you tried to join is full.</p>
        </div>
      </div>
    </main>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>