<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/views/game.css" />
    <link rel="stylesheet" type="text/css" href="/css/partials/navbar.css" />
    <link rel="stylesheet" type="text/css" href="/css/partials/cards.css" />
    <link rel="stylesheet" type="text/css" href="/css/partials/messages.css" />
    <script defer type="text/javascript" src="/js/views/game.js"></script>
    <title>{{title}}</title>
</head>

<body>
    {{> navbar}}
    {{!-- attribution for message icon  --}}
    {{!-- <a href="https://iconscout.com/icons/message" target="_blank">Message Icon</a> by <a
        href="https://iconscout.com/contributors/eva-icons">Akveo</a> on <a href="https://iconscout.com">Iconscout</a>
    --}}
    <svg id="message-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path
            d="M5.2 22c-.4 0-.9-.1-1.3-.2s-.6-.3-.8-.5l-.1-.1c-.1-.1-.2-.3-.2-.4 0-.2.1-.3.3-.4.8-.4 1.5-1.1 1.9-1.9 0-.1 0-.2.1-.3C2.3 16.5.7 13.8.7 11 .6 6 5.7 2 12 2c6.3 0 11.4 4 11.4 9s-5.1 9.1-11.4 9.1c-.6 0-1.3 0-1.9-.1-1.5 1.3-3.2 2-4.9 2zm-1-1.1c1.7.4 3.7-.3 5.5-1.8 0-.1.2-.2.3-.1.6.1 1.3.1 2 .1 5.7 0 10.4-3.6 10.4-8.1S17.7 3 12 3 1.6 6.6 1.6 11c0 2.6 1.6 5 4.3 6.5.2.1.3.4.2.6 0 .3-.1.6-.3.9-.4.8-1 1.4-1.6 1.9z" />
    </svg>

    <div id="messages-container" class="hidden">
        <div id="messages"></div>
        <textarea id="message-input" placeholder="Type message..."></textarea>
        <svg onclick="sendMessage();" id="message-send-btn" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24">
            <path fillRule="evenodd"
                d="M4.10514201,11.8070619 L2.74013818,2.2520351 L22.236068,12 L2.74013818,21.7479649 L4.10514201,12.1929381 L4.87689437,12 L4.10514201,11.8070619 Z M5.25986182,5.7479649 L5.89485799,10.1929381 L13.1231056,12 L5.89485799,13.8070619 L5.25986182,18.2520351 L17.763932,12 L5.25986182,5.7479649 Z" />
        </svg>
    </div>

    <div id="draw-and-play-cards-container">
        <div id="draw-deck"></div>
        <div id="played-deck"></div>
    </div>

    <div id="players-left"></div>
    <div id="players-top"></div>
    <div id="players-right"></div>

    <div id="main-deck-container"></div>
</body>

</html>