<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/views/home.css" />
    <link rel="stylesheet" type="text/css" href="/css/partials/navbar.css" />
    <title>{{title}}</title>
  </head>
  <body>
    {{> navbar}}
    <main>
      <form id="menu">
        <header>
          <h2>Play Now</h2>
        </header>
        {{#if authenticated}}
        <a href="/create-lobby">Create Lobby</a>
        <a href="/find-lobby">Find Lobby</a>
        {{else}}
        <a href="/login">Create Lobby</a>
        <a href="/login">Find Lobby</a>
        {{/if}}
      </form>
    </main>
  </body>
</html>