<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/views/leaderboard.css" />
    <link rel="stylesheet" type="text/css" href="/css/partials/navbar.css" />
    <title>{{title}}</title>
  </head>
  <body id="body">
    {{> navbar}}
    <main>
        <div class="entite-table">
        <div class="header-list-container">
          <div class="header-item-container">Player Name</div>
          <div class="header-item-container">Score (Wins - Losses)</div>
        </div>

        <div class="item-list-container" id="PlayerListContainer">

        </div>
        </div>
    </main>
  </body>
  <script src="/js/views/leaderboard.js" type="module"></script>
</html>