body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

main {
  margin-top: 5rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80%;
}

.search-container {
  display: flex;
  justify-content: center;
}

.lobby-list-container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.header-container, .lobby-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px solid black;
}

.lobby-container {
  min-height: 50px;
  align-items: center;
}
.lobby-name-header, .lobby-name {
  width: 70%;
  padding-left: 100px;
}

#joinPrivateLobbyModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#joinPrivateLobbyForm {
  display: flex;
  justify-content: center;
}

#formContent {
  margin-top: 300px;
  display: flex;
  height:fit-content;
  width: fit-content;
  flex-direction: column;
  background-color: white;
}

.closeModal {
  margin-left: auto;
  color: #aaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.error-message {
  background-color: #fee;
  color: #c33;
  margin: 0;
  padding: 0.25rem;
  display: none;
}