body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 100%;
}

main {
  width: 100%;
  height: 100%;
}

thead {
  position: sticky;
  top: 0;
}

.button {
  display: block;
  background: #ee161f;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  margin: 1rem 2rem 0 2rem;
  border-radius: 0.5rem;
  font-weight: bold;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: all 0.15s ease-in-out;
}

.button:hover {
  transform: scale(1.15);
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -o-transform: scale(1.15);
}

.lobby {
  background: #f1f1f1;
  background: linear-gradient(0deg, rgba(241,241,241,1) 0%, rgba(255,255,255,1) 100%);
  border-radius: 0.25rem;
  outline: 1px solid #dedede;
}

.lobby:hover {
  background: white;
}

.lobby-waiting {
  font-weight: 700;
  color: #18A849;
}

.lobby-busy {
  font-weight: 700;
  color: #ee161f;
}

.lobby-hostname {
  font-weight: 600;
}

.lobby-name {
  font-style: italic;
}

.lobby-capacity {
  font-size: 1rem;
}

#lobby-header {
  background: #00467e;
  color: white;
}

#list-container {
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 0;
  border-radius: 0.25rem;
  height: 15rem;
}

#list-container table {
  width: 100%;
}

#list-container a {
  text-decoration: none;
  color: inherit;
}

#list-container th, td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: .375rem;
}

#menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  width: 50rem;
  margin: 5rem auto 0 auto;
  border-radius: 0.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow: hidden;
}

#menu :last-child {
  margin-bottom: 0.5rem;
}

#menu header {
  display: flex;
  background: #ee161f;
  margin: 0;
  height: 4rem;
  justify-content: center;
  align-items: center;
  border-bottom: 0.2rem solid #d6151d;
}

#menu header h2 {
  color: white;
}

#menu-container {
  display: flex;
  margin: 0;
}

#menu-container div {
  width: 100%;
}

#menu-lists {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #f1f1f1;
  background: linear-gradient(180deg, rgba(241,241,241,1) 0%, rgba(255,255,255,1) 100%);
}

#menu-lists div {
  text-align: center;
  width: 100%;
}

#menu-lists table {
  background: #f1f1f1;
  table-layout: fixed;
  border-collapse: collapse;
}

#menu-options {
  width: 50% !important;
  margin: auto 0;
}
