body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

main {
  margin-top: 5rem;
  
  /* display: flex;
  flex-direction: column; */
  width: 80%;
  height: 80%;
}

input {
  width: 90%
}

.entire-table {
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  background-color: #cfddea;
  border-radius: 10%;
  overflow: hidden;
  /* table-layout:fixed; */
  align-items: center;
  /* display: flex; */
}

.item-list-container {
  align-items: center;
}

.item-container {
  align-items: center;
}

.header-list-container{

}

.header-item-container {

}

