body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

main {
  width: 100%;
  height: 100%;
  margin-top: 3rem;
}

.lobby-name {
  width: 16rem;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.empty-invitation {
  background: rgb(0,49,88);
  background: linear-gradient(0deg, rgb(0, 70, 128) 0%, rgba(0,99,179,1) 75%);
  border-radius: 0.5rem;
  color: rgb(230, 230, 230);
  padding: 1rem;
  margin: 0 1rem 1rem 1rem;
  text-align: center;
}

.invitation {
  background: rgb(0,49,88);
  background: linear-gradient(0deg, rgb(0, 70, 128) 0%, rgba(0,99,179,1) 75%);
  border-radius: 0.5rem;
  color: rgb(230, 230, 230);
  padding: 1rem 0.5rem 0.5rem 1rem;
  margin: 0 1rem 1rem 1rem;
  line-height: 1.5rem;
  overflow: hidden;
}

.invitation div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;
}

.invitation-button {
  background: #ee161f;
  color: white;
  font-weight: bold;
  border: none;
  padding: 0.5rem;
  margin: 0.25rem 0.25rem 0 0.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  transition: all 0.15s ease-in-out;
}

.invitation-button:hover:enabled {
  transform: scale(1.15);
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -o-transform: scale(1.15);
}

#notification-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 20rem;
  height: 30rem;
  overflow-y: auto;
}

#title {
  width: 10rem;
  margin: 0 auto 1rem auto;
  text-align: center;
}