body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

main {
  width: 100%;
  height: 100%;
}

summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 34rem;
  margin: 5rem auto 0 auto;
  border-radius: 0.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow: hidden;
}

summary header {
  display: flex;
  background: #ee161f;
  height: 4rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-bottom: 0.2rem solid #d6151d;
  color: white;
}

summary section {
  display: flex;
  padding: 1rem;
  align-items: stretch;
}

#profile-pic {
  position: relative;
  height: 10rem;
  width: 10rem;
  background: white;
  border-radius: 100%;
  margin-right: 1rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#profile-avatar-portrait {
  position: absolute;
  left: -1000%;
  right: -1000%;
  top: -1000%;
  bottom: -1000%;
  margin: auto;
  width: 100%;
  height: auto;
}

#profile-avatar-landscape {
  position: absolute;
  left: -1000%;
  right: -1000%;
  top: -1000%;
  bottom: -1000%;
  margin: auto;
  width: auto;
  height: 100%;
}

#profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#stats {
  display: flex;
}

#stats div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  white-space: nowrap;
}

#stats div p {
  margin: 0.5rem 0 0 0;
}

#stats label {
  font-weight: bold;
}
