#nav-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem 20%;
  background: #0063B3;
  box-sizing: border-box;
}

#nav-container a {
  text-decoration: none;
}

#nav-profile-pic {
  height: 2.5rem;
  width: 2.5rem;
  background: white;
  border-radius: 100%;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#logo {
  height: 3.51rem;
  width: 5rem;
}

#logout{
  background: inherit;
  display: block;
  color: white;
  cursor: pointer;
  outline: inherit;
  border: none;
}

#dropdown {
  list-style: none;
  margin: 0 0 0 2.5%;
}

#nav-links {
  display: flex;
  list-style: none;
  margin-right: 2.5%;
  margin-left: auto;
}

#search-user {
  padding: 0.5rem;
}

#unauthenticated-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin-left: 2.5%;
}

.dropdown-menu {
  position: absolute;
  visibility: hidden;
  z-index: 5;
}

.dropdown-menu-visible {
  z-index: 5;
  position: absolute;
  padding-left: 0;
  margin-top: 1rem;
  opacity: 1;
  list-style: none;
  background: #0063B3;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.dropdown-menu-visible :last-child {
  padding-bottom: 0.25rem;
}

.dropdown-menu-visible li a {
  text-decoration: none;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  font-size: 1.1rem;
  color: white;
}

.nav-link {
  color: white;
  font-size: 1rem;
  padding: 2rem;
  white-space: nowrap;
}
