#nav-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem 20%;
  background: #0063B3;
  box-sizing: border-box;
}

#nav-container a {
  text-decoration: none;
}

#hidden-search-submit {
  display: none;
}

#logo {
  height: 3.51rem;
  width: 5rem;
}

#logout{
  background: inherit;
  display: block;
  color: white;
  cursor: pointer;
  outline: inherit;
  border: none;
  padding-bottom: 0.25rem;
}

#dropdown {
  list-style: none;
}

#nav-links {
  display: flex;
  list-style: none;
  margin-right: 2.5%;
  margin-left: auto;
}

#nav-notifications {
  background: transparent !important;
  box-shadow: none !important;
  transition: all 0.15s ease-in-out;
}

#nav-notifications:hover {
  filter: brightness(106%);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

#nav-profile-pic {
  transition: all 0.15s ease-in-out;
}

#nav-profile-pic:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

#search-input {
  outline: none;
  padding: 0.5rem;
}

#unauthenticated-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin-left: 2.5%;
}

.dropdown-menu {
  position: absolute;
  visibility: hidden;
  z-index: 5;
}

.dropdown-menu-visible li {
  transition: background 0.15s ease-in-out;
}

.dropdown-menu-visible li:hover {
  background: #008cff;
}

.dropdown-menu-visible {
  z-index: 5;
  position: absolute;
  padding-left: 0;
  margin-top: 1rem;
  opacity: 1;
  list-style: none;
  background: #0063B3;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.dropdown-menu-visible li a {
  text-decoration: none;
  padding: 0.5rem 1rem !important;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  font-size: 1.1rem;
  color: white;
}

.nav-icon {
  margin: 0 1.5%;
  height: 2.5rem;
  width: 40px !important;
  background: white;
  border-radius: 100%;
  cursor: pointer;
  overflow: hidden;
  flex-shrink: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.nav-icon img {
  width: 100%;
  height: auto;
}

.nav-link {
  display: inline-block;
  color: white;
  font-size: 1rem;
  padding: 0 2rem;
  white-space: nowrap;
  transition: all 0.15s ease-in-out;
}

.nav-link:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}